<footer>
    <div>
        <b>Réalisé par :</b>
        <ul>
            <li>Aoumeur Boulerouah</li>
            <li>Gaël Grebert</li>
            <li>Fabien Martin</li>
            <li>Olivier Nguyen</li>
        </ul>
    </div>
    <div>
        <div id="header"><b>Contact</b></div>
        <br />
        <div id="label">
            Email :<br />
            Adresse :<br />
            Telephone : 
        </div>
        <div id ="info">
            Admission@aston-ecole.fr <br />
            Avenue de Bretagne, 59000 Lille <br />
            03 74 74 05 20
        </div>
    </div>
</footer>