<section class="corps">
    <div class="logo"><img src="\assets\images\logo-SmartBerry-blanc.png" alt="logo du produit"></div>
    <h1>Bienvenue chez vous !</h1><br />
    <a href="#openModal" id="buttonindex">Cliquez ici pour commencer</a>
</section>

<section id="reponse" *ngIf="results">
    <div [innerHtml]="results.rep"></div>
</section>

<div id="openModal" class="modalDialog">
    <div> 
        <a href="#close" title="Close" class="close">X</a>

        <div id="header">
            Connexion
        </div>

        <form (ngSubmit)="connection(formLogin)" #formLogin="ngForm">
            <section *ngIf="error">
                <div class="errorclass">{{error}}</div>
            </section>
            <div>
                <label>Login</label>
                <input class="inputlogin" id="ex-login" name="login" type="text" ngModel>
            </div>
            <div id="divmdp">
                <label>Mot de Passe</label>
                <input class="inputlogin" id="ex-password" name="password" type="text" ngModel>
            </div>
            <button id="buttonform" type="submit">Submit </button>
        </form>
    </div>
</div>