
#container{
   border: 1px dashed blue; 
   max-width: 1200px;
    height: 400px;
    margin: auto;
}

div.scroll-list {
      overflow: auto;
      max-height: 70vh;
    }

    .drag-over {
      border: #ff525b dashed 2px;
    }

    .drag-hint {
      border: #ffc100 dashed 2px;
    }

    .drag-target-border {
      border: #00bfff dashed 2px;
    }

    .drag-target-border-green {
      border: #3c763d dashed 2px;
    }
  

li{
  margin-bottom: 20px;
}

.affichage{
  overflow: scroll;
  max-height: 500px;
}

.listeElemnts{
  min-height: 400px;
  max-height: 400px;
}

.slecteditem{
  cursor: pointer;
}

.supprime{
    margin-top: 265px;
}

.select{
    cursor: pointer;
}

/* MODAL */
form {
  margin-top: 30px;
}

label {
  display: inline-block;
  width: 30%;
}

.inputlogin {
  width: 65%;
}

.divmdp {
  margin-top :10px;
  margin-bottom : 10px;
}

.buttonform{
  margin-left:20px;
  padding:10px;
  background: #8BC34A;
  border: solid 2px #8BC34A;
  border-radius : 10px;
  font-size: 15px;
  text-decoration: none;
  color : #FFFFFF;
  font-weight: bold;
  transition : all 0.3s;
}

.buttonform:hover {
  background: #FFFFFF;
  color: #8BC34A;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin-top:5%;
    margin-left:auto;
    margin-right: auto;  
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#titre{
    font-size: 30px;
    font-weight: bold;
    margin: 40px;
}


