/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Raleway";
	src: url('assets/fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
	font-family: "Raleway-Black";
	src: url('assets/fonts/raleway/Raleway-Black.ttf');
}

body {
    font-family: Raleway, sans-serif;
	margin: 0;
}
