    <nav class="navigation">
        <a href=""  routerLink="/accueil">Accueil<i></i></a>
        <a href=""  routerLink="/configuration">Configuration<i></i></a>
        <!--<a href=""  routerLink="/piece">piece<i></i></a>-->
        <a href=""  routerLink="/jardin">Jardin<i></i></a>
        <a href="" routerLink="/admin" id ="adminlink">Panneau d'administration<i></i></a>
        <a href="" routerLink="/apropos">A Propos<i></i></a>
        <div class="logo"><a href=""><img src="/assets/images/logo-SmartBerry-blanc.png" alt="logo du produit"></a></div>
    </nav>