<section id="historique">
    <h2>Historique</h2>
    <div>
        <nav>
            <input type="radio" class="onglet_histo" id="annee" name="onglet_histo" checked="checked"><label for="annee">Année</label>
            <input type="radio" class="onglet_histo" id="mois" name="onglet_histo"><label for="mois">mois</label>
            <input type="radio" class="onglet_histo" id="semaine" name="onglet_histo"><label for="semaine">semaine</label>
            <input type="radio" class="onglet_histo" id="jour" name="onglet_histo"><label for="jour">jour</label>
        </nav>
        <div id="tab_histo">
            <table>
                <thead>
                    <th>Zone</th>
                    <th>Vol. débité (L)</th>
                    <th>Coût estimé (€)</th>
                    <th>Nbre de cycles</th>
                </thead>


            </table>
            
        </div>
    </div>
</section>