<section class="pageContent">
    <h2>Configuration des paramètres de la maison</h2>
    <main>
        <nav id="menu" class="navigation">
            <h3>Menu de configuration</h3>
            <a href="" routerLink="utilisateur"> <button class="btn">Les utilisateurs </button></a>
            <a href="" routerLink="zone"><button class="btn">Les zones</button></a>
            <a href="" routerLink="materiel"><button class="btn">Le matériel</button></a>
        </nav>

        <section id="config">
            <router-outlet> </router-outlet>
        </section>
    </main>
</section>